<template>
  <div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by title"
          v-model="title"/>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"
            @click="searchTitle"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Tutorials List</h4>
      <ul class="list-group">
        <li class="list-group-item"
          :class="{ active: index == currentIndex }"
          v-for="(tutorial, index) in tutorials"
          :key="index"
          @click="setActiveTutorial(tutorial, index)"
        >
          {{ tutorial.title }}
        </li>
      </ul>

      <button class="m-3 btn btn-sm btn-danger" @click="removeAllTutorials">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <div v-if="currentTutorial">
        <h4>Tutorial</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentTutorial.title }}
        </div>
        <div>
          <label><strong>Description:</strong></label> {{ currentTutorial.description }}
        </div>
        <div>
          <label><strong>Value:</strong></label> {{ currentTutorial.value }}
        </div>
        <div>
          <label><strong>Created at:</strong></label> {{ currentTutorial.registryDate }}
        </div>
        <div>
          <label><strong>Updated at:</strong></label> {{ currentTutorial.updateDate }}
        </div>
        <div>
          <label><strong>Status:</strong></label> {{ currentTutorial.published ? "Published" : "Pending" }}
        </div>

        <a class="badge badge-warning"
          :href="'/tutorials/' + currentTutorial.id"
        >
          Edit
        </a>
      </div>
      <div v-else>
        <br />
        <p>Please click on a Tutorial...</p>
      </div>
    </div>
    <wj-flex-grid :items-source="tutorials" :initialized="initializeGrid">
      <wj-flex-grid-column binding="title" header="Title" :width="150" />
      <wj-flex-grid-column binding="description" header="Description" :width="250" />
      <wj-flex-grid-column binding="value" header="Value" :width="75"/>
      <wj-flex-grid-column binding="published" header="Published" :width="75"/>
      <wj-flex-grid-column binding="registryDate" header="Registry Date" :isReadOnly="true" :width="200"/>
      <wj-flex-grid-column binding="updateDate" header="Updated Date" :isReadOnly="true" :width="200"/>
    </wj-flex-grid>
    <div class="edit-msg" v-html="editMsg"></div>
    <div class="edit-msg"> {{selectedTutorial}} </div>
    <div class="edit-msg"> {{currentTutorial}} </div>
    <Snackbar ref="snackbar" />
  </div>
</template>

<script>
    import TutorialDataService from "../services/TutorialDataService";
    import Snackbar from "./commons/alert-notifcation";
    import '@grapecity/wijmo.vue2.grid';
    import '@grapecity/wijmo.styles/wijmo.css';
    import * as wjcCore from '@grapecity/wijmo';
    import _ from 'lodash';
    //import * as wjcGrid from '@grapecity/wijmo.grid';
    //import * as wjcInput from '@grapecity/wijmo.input';


    export default {
        name: "tutorials-list",
        data() {
            return {
                tutorials: [],
                selectedTutorial: null,
                currentTutorial: null,
                databaseTutorial: null,
                currentIndex: -1,
                title: "",
                editMsg: '&nbsp;',
            };
        },
        components: {
          Snackbar
        },
        methods: {
            initializeGrid(flex){
                flex.beginningEdit.addHandler((s, e) => {
                    this.editMsg = '&nbsp;';
                    let col = s.columns[e.col];

                    this.selectedTutorial = s.rows[e.row].dataItem;
                    this.selectedTutorial = JSON.parse(JSON.stringify(this.selectedTutorial));

                    if (col.binding != 'published') {
                        let item = s.rows[e.row].dataItem;
                        this.message = item.value;
                        if (item.published) { // prevent editing overdue items
                            e.cancel = true;
                            this.editMsg = 'Published items cannot be edited';
                        }
                        // let x = s.rows[e.row].dataItem;
                        // console.log(x);
                    }
                    // this.auxTutorials = this.tutorials;

                });
                flex.cellEditEnding.addHandler((s, e) => {
                    this.editMsg = '&nbsp;';
                    this.message = '&nbsp;';
                    let col = s.columns[e.col];
                    if (col.binding == 'value') {
                        let value = wjcCore.changeType(s.activeEditor.value, wjcCore.DataType.Number, col.format);
                        if (!wjcCore.isNumber(value) || value < 0) { // prevent negative sales/expenses
                            e.cancel = true;
                            this.editMsg = 'Please enter a positive amount';
                        }
                    }

                });
                flex.cellEditEnded.addHandler(async (s, e) => {
                    if(!e.cancel) {
                      const id = s.rows[e.row].dataItem.id;
                      let index;

                      for(let i = 1; i < this.tutorials.length; i++ ) {
                        if(this.tutorials[i].id == id) {
                          this.currentTutorial = this.tutorials[i];
                          index = i;
                        }
                      }

                      if(this.currentTutorial != null) {
                        await this.getTutorialById(id);

                        if (_.isEqual(this.databaseTutorial, this.selectedTutorial)) {
                          this.updateTutorial(this.currentTutorial, index);
                        } else {
                          e.cancel = true;
                          this.$refs.snackbar.alert("Your data is outdated, try to refresh the page and edit again.");
                        }
                      } else {
                          e.cancel = true;
                          this.editMsg = "Element null";
                      }
                    }
                });
            },

            retrieveTutorials() {
              TutorialDataService.getAll()
                .then(response => {
                  this.tutorials = response.data;
                })
                .catch(e => {
                  console.log(e);
                });
            },

            refreshList() {
              this.retrieveTutorials();
              this.currentTutorial = null;
              this.currentIndex = -1;
            },

            setActiveTutorial(tutorial, index) {
              this.currentTutorial = tutorial;
              this.currentIndex = index;
            },

            removeAllTutorials() {
              TutorialDataService.deleteAll()
                .then(response => {
                  this.tutorials = [];
                  console.log(response.data);
                  this.refreshList();
                })
                .catch(e => {
                  console.log(e);
                });
            },

            searchTitle() {
              TutorialDataService.findByTitle(this.title)
                .then(response => {
                    this.tutorials = response.data;
                    console.log(response.data);
                })
                .catch(e => {
                    console.log(e);
                });
            },

            updateTutorial(tutorial, index) {
              TutorialDataService.update(tutorial.id, tutorial)
                .then(response => {
                    //this.tutorials = response.data;
                    console.log(response.data);
                    this.refreshList();
                    this.setActiveTutorial(tutorial, index);
                    this.$refs.snackbar.success("Successfully saved!");
                })
                .catch(e => {
                    this.$refs.snackbar.alert("Occurred a error, try again.");
                    console.log(e);
                })
            },

            async getTutorialById(id) {
              await TutorialDataService.get(id)
                .then(response => {
                    this.databaseTutorial = response.data;
                    this.databaseTutorial = JSON.parse(JSON.stringify(this.databaseTutorial));
                    console.log(response.data);
                })
                .catch(e => {
                    console.log(e);
                })
            }
        },
        mounted() {
            this.retrieveTutorials();
        }
    };
</script>

<style>
    .list {
        text-align: left;
        max-width: 1000px;
        margin: auto;
    }
</style>